@import "flat-colors";

$primary-ui-alt-color: #ffffff;

$primary-ui-color: $flat-blue-2;
$primary-ui-hover-color: $flat-blue-1;

$focus-color: $flat-orange-2;

$disabled-ui-color: $flat-gray-4;
$disabled-ui-alt-color: $flat-gray-2;

$ui-outline-color: $flat-gray-3;
