input[type=radio]
{
    width: 1em;
    height: 1em;
    font: inherit;
    vertical-align: middle;
    appearance: none;
    background: #fff;
    border-radius: 50%;
    box-sizing: border-box;
    border: .125em solid $disabled-ui-color;
    position: relative;
    font-size: 1.6em;
    margin: .3em;
    margin-right: 1rem;
    cursor: pointer;

    transition: transform .3s cubic-bezier(.2, .3, 0, 1), border-width .17s cubic-bezier(.2, .3, 0, 1), border-color 0s linear .17s;

    & + label
    {
        cursor: pointer;
    }

    &:not(:disabled):hover,
    &:not(.disabled):hover
    {
        border-color: $primary-ui-hover-color;
    }

    &:disabled,
    &.disabled
    {
        background: lighten($disabled-ui-color, 20%);
        cursor: default;

        &:before, &:after
        {
            background: lighten($disabled-ui-color, 20%);
        }
    }

    &:focus,
    &.focus
    {
        border: .125em solid $focus-color !important;
        outline: none;
    }

    &:not(:disabled):active,
    &:not(.disabled):active
    {
        transform: scale(.8);
    }

    &:checked,
    &.checked
    {
        border-color: $primary-ui-color;
        transition: transform .3s cubic-bezier(.2, .3, 0, 1), background-color .3s cubic-bezier(.2, .3, 0, 1), border-width .17s cubic-bezier(.2, .3, 0, 1), border-color 0s;
        background-color: $primary-ui-color;

        &:disabled,
        &.disabled
        {
            border-color: desaturate($primary-ui-color, 100%);
            background-color: desaturate($primary-ui-color, 100%);
        }

        &:before
        {
            transform: translate(0.325em, 0.325em) scale(.4, .4);
        }
    }

    &:before
    {
        content: '';
        background: #fff;
        height: 1em;
        width: 1em;
        position: absolute;
        border-radius: 50%;
        transform: translate(0.5em, 0.5em) scale(.0, .0);
        transform-origin: 0 0;
        transition: transform .3s cubic-bezier(.2, .3, 0, 1), opacity .3s cubic-bezier(.2, .3, 0, 1);
        top: -.125em;
        left: -.125em;
    }
}